<div class="btn-actions-group">
    <button type="button" class="btn-action btn-edit" title="Edit Client"
            onclick="openEditModal('{{ record.id_client }}', '{{ record.name|default:'Unnamed'|escapejs }}', '{{ record.description|default:'-'|escapejs }}')">
        <i class="material-icons-round">edit</i>
    </button>
    <button type="button" class="btn-action btn-delete" title="Delete Client"
            onclick="openDeleteModal('{{ record.id_client }}', '{{ record.name|default:''|escapejs }}', '{{ record.description|default:'No description'|escapejs }}', '{{ record.created_at|date:'F d, Y G:i' }}')">
        <i class="material-icons-round">delete</i>
    </button>
</div>
