{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>

        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" /> 
        
        <link href="{% static 'css/materialize.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/datatables.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/googleMaterialIcons.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css" />

        {% block stylesheet %}
        {% endblock stylesheet %}
    </head>
    <body>
        <span id="top"></span>

            <div class="navbar-fixed">
                <nav class="light-blue darken-4">
                    <div class="nav-wrapper">
                        <div class="brand-logo">                        
                            <a href="{% url 'coreRelback:index' %}">
                                <font face='Courier'>rel</font><font face='Roboto, Courier New Bold,Courier'><b>Back</b></font>
                            </a>
                        </div>

                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                            <li ><a href="{% url 'coreRelback:index' %}">Home</a></li>
                            <li ><a href="{% url 'coreRelback:reportRead' %}">Reports</a></li>
                            <li ><a href="{% url 'coreRelback:client' %}">Clients</a></li>		
                            <li ><a href="{% url 'coreRelback:host' %}">Hosts</a></li>
                            <li ><a href="{% url 'coreRelback:database' %}">Databases</a></li>
                            <li ><a href="{% url 'coreRelback:policy' %}">Backup Policies</a></li>
                        </ul>
                    </div>
                </nav>
            </div>

        <div class="container-wide">
        
            {% block content %}

            {% endblock %}

        </div>

        <footer class="page-footer light-blue darken-4" >
            <div class="row center-align">
                <a href="#top" class="btn-floating waves-effect waves-light green" title="Go Top">
                    <i class="material-icons">keyboard_arrow_up</i>                
                </a>
                <br> <h5>Random Report Enterprise Company</h5>
                <br> Created by <a href="{% url 'coreRelback:creators' %}">Creators</a>, duh!
                    <a target="_blank" href="https://github.com/supernoi/relback" alt="GitHub of relBack">
                        <h6>
                            <img src="{% static 'images/GitHub-Mark-32px.png' %}" alt="GitHub of relBack" style="width:21px;height:21px;"><b>/relBack</b>
                        </h6>                        
                    </a>                
                <br>
            </div>
        </footer>

        <!-- Scripts -->
        <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/nanobar.min.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/datatables.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/datatime-moment.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

        <link href= "{% static 'css/fonts.css' %}" rel='stylesheet' type='text/css'>

        <script>
            var options = {
                bg: '#569bbe',
            };

            var nanobar = new Nanobar(options);
            nanobar.go(10);
            nanobar.go(100);
        </script>
    {% block javascript %}
    {% endblock javascript%}
    </body>
</html>