{% extends 'base.html' %}

{% load static %}

{% block title %} relBack - Creators {% endblock %}

{%  block content  %}

        <div class="container">
			<h3 class="center-align">Creators of Created, HA HA!</h3>			
            <div class="row">
                <ul class="tabs">
                    <li class="tab col s6 left-align">
                        <a class="active" id="bessa-tab" href="#creator01">
                            <img class="circle responsive-img" src="{% static 'images/creator_bessa_01.png' %}" alt="Creator Juliano Ribeiro" height="45" width="45">
                            <b>Eduardo Bessa</b>
                        </a>
                    </li>
                    <li class="tab col s6 center-align">
                        <a id="juliano-tab" href="#creator02">
                            <img class="circle responsive-img" src="{% static 'images/creator_juliano_01.png' %}" alt="Creator Juliano Ribeiro" height="45" width="45">
                            <b>Juliano Ribeiro</b>
                        </a>
                    </li>
                </ul>
                <div class="col s12" id="creator01">                    
                        <div class="col s4 center-align">
                            <br><br><br>
                            <p>
                                <img class="circle responsive-img" src="{% static 'images/creator_bessa_01.png' %}" alt="Creator Eduardo Bessa" height="201" width="201">
                                <h4>Eduardo Bessa</h4>
                            </p>
                            <p>
                                <a target="_blank" href="https://www.linkedin.com/in/eduardo-moreira-5658681a">
                                    <img src="{% static 'images/In-2C-21px-R.png' %}" alt="Linkedin of Eduardo Bessa">/in/Eduardo-Moreira-5658681a
                                </a>
                            </p>
                        </div>
                        <div class="col s8 left-align">										
                            <p>
                                Creation and implementation of centralized environment management and monitoring databases using 
                                Oracle Enterprise Manager (Cloud 12c and 10g Grid) This environment currently manages 120 instances 
                                sending notifications criticism for SNMP traps, SMS and email.
                            </p>
                            <p>
                                Based on these characteristics, professionally really I consider myself proactive, 
                                not just as a beautiful term used in an interview, but enough to get bothered with 
                                recurrent problems happening in environments where job. I always try to solve these 
                                problems even when it is the responsibility of other sectors, or I strive suppliers 
                                to demonstrate that the environment can be improved and when I have knowledge on the 
                                subject suggest the solution that can be applied and when I do not try to learn about it. ..
                            </p>
                            <p>
                                Currently work as a Database Administrator primarily focused on meeting demands 
                                environments with Oracle Databases 10g and 11g (single instance and RAC) and 
                                operating systems RedHat and Solaris, but also attend less frequently demands of 
                                SQL Server and MySQL ... I have used a lot OEM Cloud Control 12c for administration 
                                and monitoring the day to day ...
                            </p>
                            <p>
                                As this should be a summary. I am a person dedicated to improving the environments 
                                they attend to people who use them may also make its activities quickly and thus help 
                                improve the environment as a whole.
                            </p>
                        </div>
                    	
                </div> <!-- div tabPanel Bessa -->
							
                <div class="col s12 center-align" id="creator02" >
                    <div class="col s4 center-align"> 
                        <br><br><br>
                        <p>
                            <img class="circle responsive-img " src="{% static 'images/creator_juliano_01.png' %}" alt="Creator Juliano Ribeiro" height="201" width="201">
                            <h4>Juliano Ribeiro</h4>
                        </p>
                        <p>
                            <a target="_blank" href="https://www.linkedin.com/in/supernoi">
                                <img src="{% static 'images/In-2C-21px-R.png' %}" alt="Linkedin of Juliano Ribeiro">/in/superNoi
                            </a>
                        </p>
                        <p>
                            <a target="_blank" href="https://github.com/supernoi" alt="GitHub of Juliano Ribeiro">
                                <img src="{% static 'images/GitHub-Mark-32px.png' %}" alt="Github of Juliano Ribeiro" style="width:21px;height:21px;">/SuperNoi
                            </a>
                        </p>
                    </div>
                    <div class="col s8 left-align">                                            
                        <p>
                            I love learning about anything, love my daughter, I love to stick with it and follow the 
                            growth of it, I like to play sports ... "sound mind in a sound body" ...
                            My biggest learning to date has been to learn that more important than I already know 
                            today is what I can learn to improve ...
                        </p>
                        <p>
                            Based on these characteristics, professionally really I consider myself proactive, 
                            not just as a beautiful term used in an interview, but enough to get bothered with 
                            recurrent problems happening in environments where job. I always try to solve these 
                            problems even when it is the responsibility of other sectors, or I strive suppliers 
                            to demonstrate that the environment can be improved and when I have knowledge on 
                            the subject suggest the solution that can be applied and when I do not try to 
                            learn about it. ..
                        </p>
                        <p>
                            Currently work as a Database Administrator primarily focused on meeting demands 
                            environments with Oracle Databases 10g and 11g (single instance and RAC) and 
                            operating systems RedHat and Solaris, but also attend less frequently demands 
                            of SQL Server and MySQL ... I have used a lot OEM Cloud Control 12c for 
                            administration and monitoring the day to day ...
                        </p>
                        <p>
                            As this should be a summary. I am a person dedicated to improving the environments 
                            they attend to people who use them may also make its activities quickly and thus 
                            help improve the environment as a whole.
                        </p>
                    </div> <!-- div texto juliano -->			
                </div> <!-- div col tabs -->
            </div>
		</div><!-- div container -->

{% endblock %}