{% extends 'base.html' %}

{% load static %}

{% block title %} relback - Hosts {% endblock %}

{% block content %}

    <div class="container">
        <div class="left-align">
            <h1>Hosts</h1>  
            <a href="#modalAddNew" title="Add" class="btn btn-floating btn-large waves-effect waves-light modal-trigger green">
                <i class="material-icons">add</i>
            </a>
        </div>
        <br><br>
       
        <!-- Modal of addNew -->
            <div class="modal" id="modalAddNew" role="dialog" aria-labelledby="ModalLabel-hostAddNew">
                <div class="modal-content">
                    <div class="row">
                        <h2>Add new Host</h2> 

                        <form class="col s12" id="hostFormCreate" >                                
                            {% csrf_token %}   
                                                          
                            <div class="row">
                                <div class="input-field col s6">                                    
                                    <select id="hostCreateIdClient" name="id_client">
                                        <option value="" disabled selected>Choose your option</option>                                            
                                        {% for c in clients %}
                                            <option value="{{ c.id_client }}">{{ c.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="id_client">Client name</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                    <input required name="hostname" id="hostCreateHostname" type="text" class="validate" value="">
                                    <label for="name">Hostname</label>
                                </div>                                
                                <div class="input-field col s6">
                                    <input required name="ip" id="hostCreateIp" type="text" class="validate" value="">
                                    <label for="ip">IP Address</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">			
                                    <input required name="description" id="hostCreateDescription" type="text" class="validate" value="">
                                    <label for="description">Description</label>
                                </div>                                
                            </div>                            
                            <div class="modal-footer">                                                               
                                <button class="btn waves-effect waves-light green" type="submit" name="action">
                                    Add
                                    <i class="material-icons left">add</i>
                                </button>
                                <a class="modal-close btn waves-effect waves-light">
                                    Back
                                    <i class="material-icons left">exit_to_app</i>                                    
                                </a>							
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        <!-- End Modal of addNew -->
    
            <table id="hostTable" class="table striped highlight centered responsive-table">
                <thead class="">
                    <tr>
                        <th>Client Name</th>
                        <th>Hostname</th>
                        <th>IP Address</th>
                        <th>Description</th>
                        <th>Options</th>
                    </tr>
                </thead>
                    {% for h in hosts %}
                        <tr id="host-{{ h.id_host }}">
                            <td class="hostClientName hostData" name="clientName">{{ h.id_client.name }}</td>
                                <input type="hidden" id="hostClientID" name="clientID" value={{ h.id_client.id_client }}>
                            <td id="hostHostname" class="hostHostname hostData" name="hostname">{{ h.hostname }}</td>
                                <input id="hostID" type="hidden" name="hostID" value={{ h.id_host }}>
                            <td class="hostIp hostData" name="ip">{{ h.ip }}</td>
                            <td class="hostDescription hostData" name="description">{{ h.description }}</td>
                            <td>                            
                                <a href="#hostModalUpdate" title="Edit" onClick="hostUpdate({{ h.id_host }})" data-toggle="modal" class="btn btn-floating waves-effect waves-light modal-trigger green" >
                                    <i class="material-icons">edit</i>
                                </a>
                                <a href="#hostModalDelete" title="Delete" onClick="hostModalDelete({{ h.id_host }})" data-toggle="modal" class="btn btn-floating waves-effect waves-light modal-trigger red" >                      
                                    <i class="material-icons">delete</i>
                                </a>	
                            </td>	
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="7" class="text-center bg-warning">No host</td>
                        </tr>
                    {% endfor %}
                </table>

                <!-- Start Modal of update -->
                
                <div class="modal" id="hostModalUpdate" role="dialog" aria-labelledby="ModalLabel-hostUpdate">
                    <div class="modal-content">
                        <div class="row">
                            <h2 id="hostUpdateTitle"></h2>
                        </div>                
                        <form class="col s12" id="hostFormUpdate" action="">
                            {% csrf_token %}
                            
                            <input id="hostUpdateIdHost" type="hidden" name="formIdHost"/>

                                <div class="row">
                                    <div class="input-field col s6"">
                                        <select id="hostUpdateClient" name="id_client">
                                            <option value="" selected disabled></option>                                            
                                            {% for c in clients %}
                                                <option value="{{ c.id_client }}">{{ c.name }}</option>
                                            {% endfor %}
                                        </select>
                                        <label>Client name</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s6">
                                        <input required id="hostUpdateHostname" type="text" name="formHostname">
                                        <label id="hostUpdateHostnameLabel" for="formHostname">Hostname</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <input required id="hostUpdateIp" type="text" name="formIp">
                                        <label id="hostUpdateIpLabel" for="formIp">IP Address</label>
                                    </div>                                    
                                </div>

                                <div class="row">
                                    <div class="input-field col s12">
                                        <input required id="hostUpdateDescription" type="text" name="formDescription">
                                        <label id="hostUpdateDescriptionLabel" for="formDescription">Description</label>
                                    </div>
                                </div>
                    	
                            <div class="modal-footer">
                                <button class="btn waves-effect waves-light green" type="submit">
                                    Update
                                    <i class="material-icons left">system_update_alt</i>
                                </button>
                                <a class="modal-close btn waves-effect waves-light" data-dismiss="modal">
                                    Back
                                    <i class="material-icons left">exit_to_app</i>                                    
                                </a>
                            </div>
                        </form>
                    </div> <!-- end modal content -->
                </div> <!-- end modal -->

                <!-- Modal of Delete -->
                <div class="modal" id="hostModalDelete">                            
                    <div class="modal-content">
                        <div class="row">                             
                            <h2>Confirmation to delete</h2>
                        </div>
                        <div class="row">                          
                            <p>Deleting the Host, all dependent Databases and Backup Policies will also be deleted.</p>
                            <p>Really want to delete the host: <b id='deleteHostname'></b>?</p>
                        </div> 
                        <div class="modal-footer">
                            <div class="modal-footer">                                    
                                <a class="modal-close btn waves-effect waves-light">
                                    Back
                                    <i class="material-icons left">exit_to_app</i>                                    
                                </a> 
                                <a id="hostButtonDelete" class="btn waves-effect waves-light green" type="submit" name="action">
                                    Delete
                                    <i class="material-icons left">delete_forever</i>
                                </a>					
                            </div>
                        </div>
                    </div>                            
                </div>
                <!-- End Modal of Delete -->

        </div>
        

{% endblock %}

{% block javascript %}

<script>

    $("#hostFormCreate").submit(function() {
        
        $.ajax({
            url: '{% url "coreRelback:hostCreate" %}',
            data: {
                'id_client':    $('#hostCreateIdClient option:selected').val(),
                'hostname':     $('#hostCreateHostname').val(),
                'ip':           $('#hostCreateIp').val(),
                'description':  $('#hostCreateDescription').val(),
            },
            dataType: 'json',
            success: function (data) {
                if (data.host) {
                    hostAppendToTable(data.host);                    
                    $("#modalAddNew").modal('close');
                    parent.location.reload();                 
                }
            },
            error : function(xhr,errmsg,err) {
                console.log(xhr.status + ": " + xhr.responseText);
            }
        });

        $("#hostFormCreate").trigger("reset");
        return false;
    });

    function hostAppendToTable(host) {
        $("#hostTable > tbody:last-child").append(`
            <tr id="host-${ host.id_host }">
                <td class='hostClientName hostData' name='hostClientName'>${ host.client_name }</td>
                <td class='hostHostname hostData' name='hostHostname'>${ host.hostname }</td>
                <td class='hostIp hostData' name='hostIp'>${ host.ip }</td>
                <td class='hostDescription hostData' name='hostDescription'>${ host.description }</td>
                <td>                            
                    <a onClick="hostUpdate(${ host.id_host })" title="Edit" class="btn btn-floating waves-effect waves-light modal-trigger green" >
                        <i class="material-icons">edit</i>
                    </a>                        
                    <a onClick="hostDelete(${ host.id_host })" title="Delete" class="btn btn-floating waves-effect waves-light modal-trigger red" >
                        <i class="material-icons">delete</i>
                    </a>	
                </td>
            </tr>
        `);
    }

    // Update Django Ajax Call
    $("form#hostFormUpdate").submit(function() {

        if (hostUpdateIdHost && hostUpdateClient && hostUpdateHostname && hostUpdateIp && hostUpdateDescription) {

            $.ajax({
                url: '{% url "coreRelback:hostUpdate" %}',
                data: {                
                    'idHost':       $('#hostUpdateIdHost').val(),
                    'idClient':     $('#hostUpdateClient option:selected').val(),
                    'hostname':     $('#hostUpdateHostname').val(),
                    'ip':           $('#hostUpdateIp').val(),
                    'description':  $('#hostUpdateDescription').val(),
                },
                dataType: 'json',
                success: function (data) {
                    if (data.host) {
                        updateHostTable(data.host);
                        parent.location.reload();
                    }
                }
            });

        } else {
            alert("All fields must have a valid value.");
        }

        $('#hostModalUpdate').modal('close');
        return false;
    });

    function updateHostTable(host){
        $("#hostTable #host-" + host.id_host).children().each(function() {
            var attr = $(this).attr("hostHostname");
            if (attr == "hostClientName") {
                $(this).text(host.client_name);
            } else if (attr == "hostHostname") {
                $(this).text(host.hostname);
            } else if (attr == "hostIp") {
                $(this).text(host.ip);
            } else if (attr == "hostDescription") {
                $(this).text(host.description);    
            } 
        });
    }

    // Update Django Ajax Call - load data in the Model window
    function hostUpdate(id_host) {
        
        if (id_host) {

            tr_id = "#host-" + id_host;            
            client_name = $(tr_id).find(".hostClientName").text();
            client_id = $(tr_id).find("#hostClientID").val();
            hostname = $(tr_id).find(".hostHostname").text();
            ip = $(tr_id).find(".hostIp").text();
            description = $(tr_id).find(".hostDescription").text();

            $('#hostUpdateTitle').text(hostname);
            $('#hostUpdateIdHost').val(id_host);
      
            $('#hostUpdateClient option:first').prop('selected', true);
            $('#hostUpdateClient option:first').val(client_id);
            $('#hostUpdateClient option:first').text(client_name);
            $('#hostUpdateClient').formSelect();

            $('#hostUpdateHostname').val(hostname);
            $('#hostUpdateHostnameLabel').addClass(" active");

            $('#hostUpdateIp').val(ip);
            $('#hostUpdateIpLabel').addClass(" active");

            $('#hostUpdateDescription').val(description);
            $('#hostUpdateDescriptionLabel').addClass(" active");
 
        }
    }

    function hostModalDelete(id_host) {

        if(id_host) {

            tr_id = "#host-" + id_host;
            hostName = $(tr_id).find(".hostHostname").text();

            $('#deleteHostname').text(hostName);
            $('#hostButtonDelete').attr("onclick","hostDelete("+id_host+")");
            
        }
    }

    // Delete Django Ajax Call
    function hostDelete(id_host) {
        if (id_host) {
            $.ajax({
                url: '{% url "coreRelback:hostDelete" %}',
                data: {
                    'id_host': id_host,
                },
                dataType: 'json',
                success: function (data) {
                    if (data.deleted) {
                        $("#hostTable #host-" + id_host).remove();
                        $("#hostModalDelete").modal('close');
                    }
                }
            });       
        }        
    }

    </script>

{% endblock javascript %}