{% extends 'base.html' %}

{% load static %}

{% block title %}relBack - Home{% endblock %}

{% block content %}

<br>
    <div class="container">
        <div class="row card-panel hoverable">
            <div class="col l4 center-align flex">
                <img src='{% static 'images/logo01.png' %}' style="width:156px;height:270px;" ></img>
            </div>
            <div class="col l8 left-align">                
                <p>
                    The relBack system was developed from the need for the DBA team's verify the implementation of existing backup policies for each Oracle database serviced by the team's task was carried out previously manually accessing each base and referring to the information related to backup or through emails sent by scripts stored on each server.
                    The centralization of information provides a quick and efficient in verifying the execution of each backup policy scheduling and as more systems are serviced and monitored is decentralized verification is concerned more and more staff time, both in check as the maintenance of scripts.  
                </p>
                </div>
        </div>
        <br>
        <div class="row card-panel hoverable">
            <br>
            <div class="col l4 right-align">
                <p>
                    The relBack query information stored by the RMAN catalog to be able to cross the information regarding existing policies and thereby confirm that the backup performed was completed successfully and can be used at a time of crisis a restore and recovery of a base is needed.
                </p>
            </div>
            <div class="col l8 center-align">
                <img src='{% static 'images/esquema01.png' %}' style="width:540px;height:336px;" ></img>
            </div>
        </div>
    </div>

{% endblock %}