{%  extends 'base.html'  %}

{%  load static  %}

{%  block title %}relBack - Clients{%  endblock  %}

{%  block content  %}

    <div class="container"> 
                
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}

        <div class="left-align">
            <h1>Backup Policy list</h1>
                <a href="#modalAddNew" class="btn btn-floating btn-large waves-effect waves-light modal-trigger green">
                    <i class="material-icons">add</i>
                </a>
        </div>
        <br><br>

        <div class="modal modal-policies" id="modalAddNew" role="dialog" aria-labelledby="ModalLabel-AddNew">
            <div class="modal-content">
                <div class="row">
                    <h2>Add new Backup Policy</h2>                        
                    <form class="col s12" action="{% url 'coreRelback:policiesCreate' %}" method="POST">
                        {% csrf_token %}

                        <div class="row">

                            <div class="input-field col s2">					
                                <select name="status">
                                    <option value="ACTIVE" selected>Active</option>
                                    <option value="INACTIVE">Inactive</option>
                                </select>
                                <label for="status">Status</label>
                            </div>
                        
                            <div class="input-field col s4">				
                                <input required name="policy_name" type="text" value="">
                                <label for="policy_name">Policy Name</label>
                            </div>

                            <div class="input-field col s6">				
                                <input required name="description" type="text" type="text" value="{{ h.description }}">
                                <label for="description">Description</label>
                            </div>                             
                            
                        </div>

                        <div class="row"> 

                            <div class="input-field col s4">
                                <select name="id_client" >
                                    <option value="" disabled selected>Choose your option</option> 
                                    {% for c in clients %}
                                        <option value="{{ c.id_client }}">{{ c.name }}</option>
                                    {% endfor %}
                                </select>
                                <label for="id_client">Client</label>
                            </div>
                        
                            <div class="input-field col s4">
                                <select name="id_host">
                                    <option value="" disabled selected>Choose your option</option> 
                                    {% for h in hosts %}
                                        <option value="{{ h.id_host }}">{{ h.hostname }}</option>
                                    {% endfor %}
                                </select>
                                <label for="id_host">Hostname</label>
                            </div>

                            <div class="input-field col s4">
                                <select name="id_database">
                                    <option value="" disabled selected>Choose your option</option> 
                                    {% for d in databases %}
                                        <option value="{{ d.id_database }}">{{ d.db_name }}</option>
                                    {% endfor %}
                                </select>
                                <label for="id_database">Database Name</label>
                            </div>                          

                        </div>

                        <div class="row">
                            <div class="input-field col s3">
                                <select type="backup_type" name="backup_type">
                                    <option value="" disabled selected>Choose your option</option> 
                                    <option value="ARCHIVELOG">ARCHIVELOG</option>
                                    <option value="DB FULL">DB FULL</option>
                                    <option value="DB INCR">DB INCR</option>
                                    <option value="RECVR AREA">RECVR AREA</option>
                                    <option value="BACKUPSET">BACKUPSET</option>
                                </select>
                                <label for="backup_type">Backup Type</label>
                            </div> 
                            <div class="input-field col s3">
                                <select name="destination">
                                    <option value="" disabled selected>Choose your option</option> 
                                    <option value="SBT_TAPE">SBT_TAPE</option>
                                    <option value="DISK">DISK</option>
                                </select>
                                <label for="destination">Destination</label>
                            </div>                            
                            <div class="input-field col s3">					
                                    <input required name="size_backup" type="text" value="">
                                    <label for="size_backup">Backup Size</label>
                            </div>
                            <div class="input-field col s3">
                                <input required name="duration" type="text" value="">
                                <label for="duration">Duration</label>
                            </div>                            
                        </div>

                        <div class="row">                                
                            <div class="input-field col s2">                                        					
                                    <input required name="minute" type="text" value="">
                                    <label for="minute">Minute</label>
                            </div>  
                            <div class="input-field col s2">					
                                    <input required name="hour" type="text" value="">
                                    <label for="hour">Hour</label>
                            </div>                                
                            <div class="input-field col s2">				
                                    <input required name="day" type="text" value="">
                                    <label for="day">Day</label>
                            </div>    
                            <div class="input-field col s2">					
                                    <input required name="month" type="text" value="">
                                    <label for="month">Month</label>
                            </div>                               
                            <div class="input-field col s2">					
                                    <input required name="day_week" type="text" value="">
                                    <label for="day_week">Day Week</label>
                            </div>   
                        </div>

                        <div class="modal-footer">                                                               
                            <button class="btn waves-effect waves-light green" type="submit" name="action">
                                Add
                                <i class="material-icons left">add</i>
                            </button>
                            <a class="modal-close btn waves-effect waves-light">
                                Back
                                <i class="material-icons left">exit_to_app</i>                                    
                            </a>							
                        </div>
                    </form>
                </div>
            </div> <!-- end modal content-->
        </div> <!-- end modal AddNew -->
        
            <table class="table striped highlight centered responsive-table">
                <thead>
                    <tr>
                        <th>Id Policy</th>
                        <th>Hostname</th>
                        <th>DB_NAME</th>
                        <th>Backup Type</th>
                        <th>Status</th>
                        <th>Description</th>
                        <th>Option</th>	
                    </tr> 
                </thead>
            {% for p in policies %}
                <tr>
                    <td>{{ p.id_policy }}</td>
                    <td>{{ p.id_host.hostname }}</td>
                    <td>{{ p.id_database.db_name }}</td>
                    <td>{{ p.backup_type }}</td>
                    <td>{{ p.status }}</td>
                    <td>{{ p.description }}</td>
                    <td>
                        <a href="#modalReadDetail-{{ p.id_policy }}" class="btn btn-floating waves-effect waves-light modal-trigger blue" >
                            <i class="material-icons">info</i>
                        </a>                        
                        <a href="#modalUpdate-{{ p.id_policy }}" class="btn btn-floating waves-effect waves-light modal-trigger green" >
                            <i class="material-icons">edit</i>
                        </a>                        
                        <a href="#modalDelete-{{ p.id_policy }}" class="btn btn-floating waves-effect waves-light modal-trigger red" >
                            <i class="material-icons">delete</i>
                        </a>	
                    </td>	
                </tr>
            </table>
                
            <!-- Modal of ReadDetail -->

            <div class="modal" id="modalReadDetail-{{ p.id_policy }}" role="dialog" aria-labelledby="ModalLabel-ReadDetail">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2>{{ p.policy_name }}</h2>                                                            
                        </div>
                        <div class="modal-body">								
                            <ul>
                                <li>
                                    <b>Status:</b> {{ p.status }} 
                                </li>
                                <li>
                                    <b>Client name:</b> {{ p.id_client.name }} 
                                </li>
                                <li>
                                    <b>Hostname:</b> {{ p.id_host.hostname }}
                                </li>
                                <li>
                                    <b>Database(DB_NAME):</b> {{ p.id_database.db_name }} 
                                </li>
                                <li>
                                    <b>Backup Type:</b> {{ p.backup_type }}
                                </li>
                                <li>
                                    <b>Destination:</b> {{ p.destination }}
                                </li>
                                <li>
                                    <b>Duration Estimate:</b> {{ p.duration }}
                                </li>
                                <li>
                                    <b>Backup Size Estimate:</b> {{ p.size_backup }}
                                </li>
                                <li>
                                    <b>Minute:</b> {{ p.minute }} <b>Hour:</b> {{ p.hour }} <b>Day:</b> {{ p.day }}  <b>Month:</b> {{ p.month }} <b>Day Week:</b> {{ p.day_week }}
                                </li> 
                                <li>
                                    <b>Description:</b> {{ p.description }}
                                </li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <a class="modal-close btn waves-effect waves-light">
                                Back
                                <i class="material-icons left">exit_to_app</i>                                    
                            </a>								
                        </div>
                    </div>
                </div>
            </div>	

            <!-- End Modal of ReadDetail -->

            <!-- Modal of update -->

                <div class="modal" id="modalUpdate-{{ p.id_policy }}" role="dialog" aria-labelledby="ModalLabel-Update">
                    <div class="modal-content">
                        <div class="row">
                            <h2>{{ p.policy_name }}</h2>                                                            
                        </div>
                            <form class="form-horizontal" action="{% url 'coreRelback:policiesUpdate' p.id_policy %}" method="POST">
                                {% csrf_token %}

                                <div class="row">
        
                                    <div class="input-field col s2">					
                                        <select name="status">
                                            <option value="{{ p.status }}" selected>{{ p.status }}</option>
                                            <option value="ACTIVE">Active</option>
                                            <option value="INACTIVE">Inactive</option>
                                        </select>
                                        <label for="status">Status</label>
                                    </div>
                                
                                    <div class="input-field col s4">				
                                        <input required name="policy_name" type="text" value="{{ p.policy_name }}">
                                        <label for="policy_name">Policy Name</label>
                                    </div>
        
                                    <div class="input-field col s6">				
                                        <input required name="description" type="text" type="text" value="{{ h.description }}">
                                        <label for="description">Description</label>
                                    </div>                             
                                    
                                </div>
        
                                <div class="row"> 
        
                                    <div class="input-field col s4">
                                        <select name="id_client" >
                                            <option value="{{ p.id_client }}" selected >{{ p.id_client.name }}</option> 
                                            {% for c in clients %}
                                                <option value="{{ c.id_client }}">{{ c.name }}</option>
                                            {% endfor %}
                                        </select>
                                        <label for="id_client">Client</label>
                                    </div>
                                
                                    <div class="input-field col s4">
                                        <select name="id_host">
                                            <option value="{{ p.id_host }}" selected >{{ p.id_host.hostname }}</option>
                                            {% for h in hosts %}
                                                <option value="{{ h.id_host }}">{{ h.hostname }}</option>
                                            {% endfor %}
                                        </select>
                                        <label for="id_host">Hostname</label>
                                    </div>
        
                                    <div class="input-field col s4">
                                        <select name="id_database">
                                            <option value="{{ p.id_database }}" selected >{{ p.id_database.db_name }}</option> 
                                            {% for d in databases %}
                                                <option value="{{ d.id_database }}">{{ d.db_name }}</option>
                                            {% endfor %}
                                        </select>
                                        <label for="id_database">Database Name</label>
                                    </div>                          
        
                                </div>
        
                                <div class="row">
                                    <div class="input-field col s3">
                                        <select type="backup_type" name="backup_type">
                                            <option value="{{ p.backup_type }}">{{ p.backup_type }}</option>
                                            <option value="ARCHIVELOG">ARCHIVELOG</option>
                                            <option value="DB FULL">DB FULL</option>
                                            <option value="DB INCR">DB INCR</option>
                                            <option value="RECVR AREA">RECVR AREA</option>
                                            <option value="BACKUPSET">BACKUPSET</option>
                                        </select>
                                        <label for="backup_type">Backup Type</label>
                                    </div> 
                                    <div class="input-field col s3">
                                        <select name="destination">
                                            <option value="{{ p.destination }}" >{{ p.destination }}</option>
                                            <option value="SBT_TAPE">SBT_TAPE</option>
                                            <option value="DISK">DISK</option>
                                        </select>
                                        <label for="destination">Destination</label>
                                    </div>                            
                                    <div class="input-field col s3">					
                                            <input required name="size_backup" type="text" value="{{ p.size_backup }}">
                                            <label for="size_backup">Backup Size</label>
                                    </div>
                                    <div class="input-field col s3">
                                        <input required name="duration" type="text" value="{{ p.duration }}">
                                        <label for="duration">Duration</label>
                                    </div>                            
                                </div>
        
                                <div class="row">                                
                                    <div class="input-field col s2">                                        					
                                            <input required name="minute" type="text" value="{{ p.minute }}">
                                            <label for="minute">Minute</label>
                                    </div>  
                                    <div class="input-field col s2">					
                                            <input required name="hour" type="text" value="{{ p.hour }}">
                                            <label for="hour">Hour</label>
                                    </div>                                
                                    <div class="input-field col s2">				
                                            <input required name="day" type="text" value="{{ p.day }}">
                                            <label for="day">Day</label>
                                    </div>    
                                    <div class="input-field col s2">					
                                            <input required name="month" type="text" value="{{ p.month }}">
                                            <label for="month">Month</label>
                                    </div>                               
                                    <div class="input-field col s2">					
                                            <input required name="day_week" type="text" value="{{ p.day_week }}">
                                            <label for="day_week">Day Week</label>
                                    </div>   
                                </div>
        
                                <div class="modal-footer">                                                               
                                    <button class="btn waves-effect waves-light green" type="submit" name="action">
                                        Add
                                        <i class="material-icons left">add</i>
                                    </button>
                                    <a class="modal-close btn waves-effect waves-light">
                                        Back
                                        <i class="material-icons left">exit_to_app</i>                                    
                                    </a>							
                                </div>
                            </form>
                    </div> <!-- end modal content-->
                </div> <!-- end modal Update -->


            <!-- Modal of Delete -->

                <div class="modal" id="modalDelete-{{ p.id_policy }}" role="dialog" aria-labelledby="SmallModalLabel-Delete">
                    <div class="modal-content">
                        <div class="row">                                
                            <h2>Confirmation</h2>
                        </div>
                        <div class="row">
                            <p>Really want to delete the Policy: <b>{{ p.policy_name }}</b>?</p>
                        </div>
                        <div class="modal-footer">
                            <a class="modal-close btn waves-effect waves-light">
                                Back
                                <i class="material-icons left">exit_to_app</i>                                    
                            </a> 
                            <a href="{% url 'coreRelback:policiesDelete' p.id_policy %}" class="btn waves-effect waves-light red" type="submit" name="action">
                                Delete
                                <i class="material-icons left">delete_forever</i>
                            </a>
                        </div>
                    </div>
                </div>   
            {% endfor %}
            </table>
        </div>
        
    </div>

{%  endblock  %}