{%  extends 'base.html'  %}

{%  load static  %}

{%  block title %}relBack - Clients{%  endblock  %}

{%  block content  %}

        <div class="left-align">
            <br>
            <h1>Backup Policies</h1>
            <br>
            <a href="#modalAddNew" title="Add" data-bs-toggle="modal" data-bs-target="#modalAddNew" class="btn btn-floating btn-large waves-effect waves-light modal-trigger green">                                                                                                                              <button type="button" class="btn btn-primary shadow">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">                                                                                                                                                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>                                                                                                                                                      </svg>
                    Add
                </button>
            </a>
        </div>
        <br>

        <!-- Modal of addNew -->

        <div class="modal" tabindex="-1" id="modalAddNew" role="dialog" aria-labelledby="ModalLabel-AddNew">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2>Add new Backup Policy</h2>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                        <form class="col s12" id="policyFormCreate" method="post" action="{% url 'coreRelback:policyCreate' %}">
                            {% csrf_token %}

                            <div class="row mb-3">
                                <div class="col">
                                    <div class="form-floating s2">
                                        <select class="form-select" id="policyCreateStatus" name="status">
                                            <option value="ACTIVE" selected>Active</option>
                                            <option value="INACTIVE">Inactive</option>
                                        </select>
                                        <label for="policyCreateStatus">Status</label>
                                    </div>
                                </div>
                                
                                <div class="col-8">
                                    <div class="form-floating">
                                        <input required class="form-control" id="policyCreateName" name="policy_name" type="text" value="" placeholder="Policy name">                                                                                                                                                                     <label for="policyCreateName">Policy name</label>
                                    </div>
                                </div>

                            </div>
                            <div class="row mb-3"> 
                                <div class="col-sm">
                                    <div class="form-floating">
                                        <select class="form-select" id="policyCreateIdClient" name="id_client" onchange="reloadListHost('policyCreateIdHost', this.value)">
                                            <option value="" disabled selected>Choose the Client</option>                                        
                                            {% for c in clients %}
                                                <option value="{{ c.id_client }}">{{ c.name }}</option>
                                            {% endfor %}
                                        </select>
                                        <label for="policyCreateIdClient">Client Name</label>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-floating col">
                                        <select class="form-select" id="policyCreateIdHost" name="id_host" onchange="reloadListDatabase('policyCreateIdDatabase', policyCreateIdClient.value, this.value)">
                                            <option value="" disabled selected>Choose client first</option>
                                        </select>
                                        <label for="policyCreateIdHost">Hostname</label>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-floating col">
                                        <select class="form-select" id="policyCreateIdDatabase" name="id_database">
                                            <option value="" disabled selected>Choose host first</option> 
                                        </select>
                                        <label for="policyCreateIdDatabase">Databses</label>
                                    </div>
                                </div><!--  end col -->
                            </div> <!--  end row -->

                            <div class="row mb-3">
                                <div class="col-sm">
                                    <div class="form-floating col">
                                        <select class="form-select" id="policyCreateBackupType" name="backup_type">
                                            <option value="" disabled selected>Choose Backup Type</option> 
                                            <option value="ARCHIVELOG">ARCHIVELOG</option>
                                            <option value="DB FULL">DB FULL</option>
                                            <option value="DB INCR">DB INCR</option>
                                            <option value="RECVR AREA">RECVR AREA</option>
                                            <option value="BACKUPSET">BACKUPSET</option>
                                        </select>
                                        <label for="policyCreateBackupType">Backup Type</label>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-floating col">
                                        <select class="form-select" id="policyCreateDestination" name="destination">
                                            <option value="" disabled selected>Choose Destination Type</option> 
                                            <option value="SBT_TAPE">SBT_TAPE</option>
                                            <option value="DISK">DISK</option>
                                        </select>
                                        <label for="policyCreateDestination">Destination</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm">
                                    <div class="form-floating col s3">
                                        <input required class="form-control" id="policyCreateSizeBackup" name="size_backup" type="text" value="" placeholder="Estimated backup size in GB">                                                                                                                                               <label for="policyCreateSizeBackup">Estimated backup size in GB</label>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-floating col s3">
                                        <input required class="form-control" id="policyCreateDuration" name="duration" type="text" value="" placeholder="Estimated duration in minutes">                                                                                                                                                  <label for="policyCreateDuration">Estimated duration in minutes</label>
                                    </div>
                                </div>
                            </div>

                            <div class="hrdivider">
                                <hr size="4" color="#0dcaf0">
                                <span>Use CRON format</span>
                            </div>

                            <div class="row mb-3">
                                <div class="col-sm">
                                    <div class="form-floating">
                                        <input required class="form-control" id="policyCreateMinute" name="minute" type="text" value="" placeholder="*">                                                                                                                                                                                  <label for="policyCreateMinute">Minute</label>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-floating">
                                        <input required class="form-control" id="policyCreateHour" name="hour" type="text" value="" placeholder="*">                                                                                                                                                                                      <label for="policyCreateHour">Hour</label>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-floating">
                                        <input required class="form-control" id="policyCreateDay" name="day" type="text" value="" placeholder="Day" aria-label="*">                                                                                                                                                                       <label for="policyCreateDay">Day</label>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-floating">
                                        <input required class="form-control" id="policyCreateMonth" name="month" type="text" value="" placeholder="*">                                                                                                                                                                                    <label for="policyCreateMonth">Month</label>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-floating">
                                        <input required class="form-control" id="policyCreateDayWeek" name="day_week" type="text" value="" placeholder="*">                                                                                                                                                                               <label for="policyCreateDayWeek">Day Week</label>
                                    </div> 
                                </div> 
                            </div>
                            
                            <hr size="4" color="#0dcaf0">

                            <div class="row mb-3">
                                <div class="col">
                                    <div class="form-floating">
                                        <input class="form-control" required id="policyCreateDescription" name="description" type="text" type="text" value="{{ h.description }}" placeholder="Description">                                                                                                                               <label for="policyCreateDescription">Description</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                            <div class="modal-footer">                                                               
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" name="action">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div> <!-- end modal content-->
        </div> <!-- end modal AddNew -->
        
            <table class="table table-striped table-hover shadow" id="policyTable">
                <thead class="table-light">
                    <tr>
                        <th scope="col"><b>Id Policy</b></th>
                        <th scope="col"><b>Client</b></th>
                        <th scope="col"><b>Hostname</b></th>
                        <th scope="col"><b>DB_NAME</b></th>
                        <th scope="col"><b>Policy Name</b></th>
                        <th scope="col"><b>Backup Type</b></th>
                        <th scope="col"><b>Status</b></th>                        
                        <th scope="col"><b>Option</b></th>
                    </tr> 
                </thead>
            {% for p in policies %}
                <tr id="policy-{{ p.id_policy }}">
                    <td id="policyId" name="policyId">{{ p.id_policy }}</td>
                    <td id="policyClientName" class="policyClientName" name="clientName">{{ p.client.name }}</td>                        
                    <td id="policyHostname" class="policyHostname" name="policyHostname" >{{ p.host.hostname }}</td>                        
                    <td id="policyDbName" class="policyDbName" name="dbName">{{ p.database.db_name }}</td>                        
                    <td id="policyName" class="policyName" name="policyName">{{ p.policy_name }}</td>
                    <td id="policyBackupType" name="backupType">{{ p.backup_type }}</td>
                    <td id="policyStatus" name="status">{{ p.status }}</td>
                    <td>
                        <a href="#policyModalDetail" data-bs-toggle="modal" data-bs-target="#policyModalDetail" title="Detail" onClick="policyDetail({{ p.id_policy }})" class="btn btn-floating waves-effect waves-light modal-trigger blue" >                                                                               <i class="bi bi-info-lg"></i>
                        </a>                        
                        <a href="#policyModalUpdate" data-bs-toggle="modal" data-bs-target="#policyModalUpdate" title="Edit" onClick="policyUpdate({{ p.id_policy }})" data-toggle="modal" class="btn btn-floating waves-effect waves-light modal-trigger green" >                                                            <i class="bi bi-pencil-fill"></i>
                        </a>
                        <a href="#policyModalDelete" data-bs-toggle="modal" data-bs-target="#policyModalDelete" title="Delete" onClick="policyModalDelete({{ p.id_policy }})" data-toggle="modal" class="btn btn-floating waves-effect waves-light modal-trigger red" >                                                       <i class="bi bi-trash-fill"></i>
                        </a>
                    </td>                
                    <input type="hidden" id="policyClientId" name="policyClientId" value={{ p.client.id_client }}>
                    <input type="hidden" id="policyHostId" name="policyHostId" value={{ p.host.id_host }}>
                    <input type="hidden" id="policyDatabaseId" name="dbId" value={{ p.database.id_database }}>
                    <input type="hidden" id="policyDestination" name="destination" value={{ p.destination }}>
                    <input type="hidden" id="policyDuration" name="duration" value={{ p.duration }}>
                    <input type="hidden" id="policySizeBackup" name="size_backup" value={{ p.size_backup }}>
                    <input type="hidden" id="policyMinute" name="minute" value={{ p.minute }}>
                    <input type="hidden" id="policyHour" name="hour" value={{ p.hour }}>
                    <input type="hidden" id="policyDay" name="day" value={{ p.day }}>
                    <input type="hidden" id="policyDayWeek" name="day_week" value={{ p.day_week }}>
                    <input type="hidden" id="policyMonth" name="month" value={{ p.month }}>
                    <input type="hidden" id="policyDescription" name="description" value={{ p.description }}>
                </tr>

                {% empty %}
                    <tr>
                        <td colspan="7" class="text-center bg-warning">No backup policy</td>
                    </tr>
                {% endfor %}
            </table>
                
            <!-- Modal of ReadDetail -->

            <div class="modal" tabindex="-1" id="policyModalDetail" class="modal" role="dialog" aria-labelledby="SmallModalLabel-Delete">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 id="policyDetailTitle"></h2>                                                           
                        </div>
                        <div class="modal-body">
                            <ul id="policyDetailList">
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- End Modal of ReadDetail -->

            <!-- Modal of update -->

                <div class="modal" tabindex="-1" id="policyModalUpdate" role="dialog" aria-labelledby="ModalLabel-Update">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                                <div class="modal-header">
                                    <h2 id="policyUpdateTitle"></h2>                                                            
                                </div>
                                <div class="modal-body">
                                        <form class="col s12" id="policyFormUpdate" action="">
                                        {% csrf_token %}

                                        <input id="policyUpdateIdPolicy" name="formIdPolicy" type="hidden"/>

                                    <div class="row mb-3">
                                        <div class="col">
                                            <div class="form-floating mb-3">
                                                <select class="form-select" required id="policyUpdateStatus" name="formStatus">
                                                    <option value="{{ p.status }}" selected>{{ p.status }}</option>
                                                    <option value="ACTIVE">Active</option>
                                                    <option value="INACTIVE">Inactive</option>
                                                </select>
                                                <label for="policyUpdateStatus">Status</label>
                                            </div>
                                        </div>
                                        <div class="col-8">
                                            <div class="form-floating">
                                                <input required class="form-control" id="policyUpdateName" name="policy_name" type="text" value="{{ p.policy_name }}" placeholder="Policy name">                                                                                                                                                  <label for="policyUpdateName">Policy name</label>
                                            </div>
                                        </div>
                                    </div>
            
                                    <div class="row mb-3">
                                        <div class="col-sm">
                                            <div class="form-floating col">
                                                <select class="form-control" id="policyUpdateClient" name="id_client">
                                                    <option value="{{ p.id_client }}" disabled selected>Choose your option</option>              
                                                    {% for c in clients %}
                                                        <option value="{{ c.id_client }}">{{ c.name }}</option>
                                                    {% endfor %}
                                                </select>
                                                <label for="hostCreateIdClient">Client Name</label>
                                            </div>
                                        </div>
                                        <div class="col-sm">
                                            <div class="form-floating">
                                                <select class="form-select" id="policyUpdateHost" name="id_host">
                                                    <option value="{{ p.id_host }}" disabled selected>Choose your option</option>
                                                    {% for h in hosts %}
                                                        <option value="{{ h.id_host }}">{{ h.hostname }}</option>
                                                    {% endfor %}
                                                </select>
                                                <label for="policyUpdateHost">Hostname</label>
                                            </div>
                                        </div>
                                        <div class="col-sm">
                                            <div class="form-floating">
                                                <select class="form-select" id="policyUpdateDatabase" name="id_database">
                                                    <option value="" disabled selected>Choose your option</option> 
                                                    {% for d in databases %}
                                                        <option value="{{ d.id_database }}">{{ d.db_name }}</option>
                                                    {% endfor %}
                                                </select>
                                                <label for="policyUpdateDatabase">DB_NAME</label>
                                            </div>
                                        </div>
                                    </div> 
            
                                    <div class="row mb-3">
                                        <div class="col-sm">
                                            <div class="form-floating">
                                                <select class="form-control" id="policyUpdateBackupType" name="backup_type">
                                                    <option disabled selected>Choose your option</option> 
                                                    <option value="ARCHIVELOG">ARCHIVELOG</option>
                                                    <option value="DB FULL">DB FULL</option>
                                                    <option value="DB INCR">DB INCR</option>
                                                    <option value="RECVR AREA">RECVR AREA</option>
                                                    <option value="BACKUPSET">BACKUPSET</option>
                                                </select>
                                                <label for="policyUpdateBackupType">Backup Type</label>
                                            </div>
                                        </div>
                                        <div class="col-sm">
                                            <div class="form-floating col s3">
                                                <select class="form-control" id="policyUpdateDestination" name="destination">
                                                    <option disabled selected>Choose your option</option> 
                                                    <option value="SBT_TAPE">SBT_TAPE</option>
                                                    <option value="DISK">DISK</option>
                                                </select>
                                                <label for="policyUpdateDestination">Destination</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-sm">
                                            <div class="form-floating col">
                                                <input required class="form-control" id="policyUpdateSizeBackup" class="" name="size_backup" type="text" value="" placeholder="Estimated backup size in GB">                                                                                                                                      <label for="policyUpdateSizeBackup">Estimated backup size in GB</label>
                                            </div>
                                        </div>
                                        <div class="col-sm">
                                            <div class="form-floating col">
                                                <input required class="form-control" id="policyUpdateDuration" class="" name="duration" type="text" value="" placeholder="Estimated duration in minutes">                                                                                                                                         <label for="policyUpdateDuration">Estimated duration in minutes</label>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row mb-3">
                                        <div class="col-sm">
                                            <div class="form-floating">
                                                <input required class="form-control" id="policyUpdateMinute" name="minute" type="text" value="" placeholder="Minute">                                                                                                                                                                             <label for="policyUpdateMinute">Minute</label>
                                            </div>
                                        </div>
                                        <div class="col-sm">
                                            <div class="form-floating">
                                                <input required class="form-control" id="policyUpdateHour" name="hour" type="text" value="" placeholder="Hour">                                                                                                                                                                                   <label for="policyUpdateHour">Hour</label>
                                            </div>
                                        </div>
                                        <div class="col-sm">
                                            <div class="form-floating">
                                                <input required class="form-control" id="policyUpdateDay" name="day" type="text" value="" placeholder="Day">                                                                                                                                                                                      <label for="policyUpdateDay">Day</label>
                                            </div>
                                        </div>
                                        <div class="col-sm">
                                            <div class="form-floating">
                                                <input required class="form-control" id="policyUpdateMonth" name="month" type="text" value="" placeholder="Month">                                                                                                                                                                                <label for="policyUpdateMonth">Month</label>
                                            </div>
                                        </div>
                                        <div class="col-sm">
                                            <div class="form-floating">
                                                <input required class="form-control" id="policyUpdateDayWeek" name="day_week" type="text" value="" placeholder="Day Week">                                                                                                                                                                        <label for="">Day Week</label>
                                            </div>
                                        </div> 
                                    </div>
            
                                    <div class="row mb-3">
                                        <div class="col">
                                            <div class="form-floating">
                                                <input class="form-control" required id="policyUpdateDescription" name="description" type="text" type="text" value="{{ h.description }}" placeholder="Description">                                                                                                                               <label for="policyUpdateDescription">Description</label>
                                            </div>
                                        </div>
                                    </div>
            
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary" name="action">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div> <!-- end modal content-->
                </div> <!-- end modal Update -->


            <!-- Modal of Delete -->

                <div class="modal" tabindex="-1" id="policyModalDelete" role="dialog" aria-labelledby="SmallModalLabel-Delete">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="container-fluid">
                                <div class="modal-header">
                                    <h2>Confirmation</h2>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <p>Really want to delete the Policy: <b id='deletePolicyName'></b>?</p>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <form id="policyFormDelete" action="" onsubmit="return false;">
                                        {% csrf_token %}
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button id="policyButtonDelete" type="submit" class="btn btn-danger" name="action">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>   
                    </div>
                </div>
        


{%  endblock  %}

{% block javascript %}

<script>
$(document).ready(function() {
    $('#policyFormCreate').submit(function(e) {
        e.preventDefault();
        var form = $(this);
        var url = form.attr('action');
        var data = form.serialize();
        $.ajax({
            url: url,
            type: 'POST',
            data: data,
            success: function(response) {
                // Exemplo: fechar modal, atualizar tabela, mostrar mensagem
                $('#modalAddNew').modal('hide');
                location.reload(); // Ou atualizar tabela via JS
            },
            error: function(xhr) {
                alert('Erro ao salvar política: ' + xhr.responseText);
            }
        });
    });
});
function reloadListHost(elemSelectId, idClient, callback = null) {
    $.ajax({
        url: '{% url "coreRelback:databaseHostsList" %}',
        type: 'GET',
        data: { 'id_client': idClient },
        dataType: 'json',
        success: function(data) {
            const selectHosts = document.getElementById(elemSelectId);
            selectHosts.innerHTML = "";
            const optPlaceHolder = document.createElement("option");
            optPlaceHolder.text = "Choose client first";
            optPlaceHolder.value = "";
            optPlaceHolder.disabled = true;
            optPlaceHolder.selected = true;
            selectHosts.appendChild(optPlaceHolder);
            if (data.hosts) {
                const hosts = JSON.parse(data.hosts);
                hosts.forEach(function(host) {
                    const opt = document.createElement("option");
                    opt.text = host.fields.hostname;
                    opt.value = host.pk;
                    selectHosts.appendChild(opt);
                });
            }
            if (callback) callback();
        },
        error: function(xhr, errmsg, err) {
            console.log("Erro ao carregar lista de hosts: " + xhr.responseText);
            // showMessage('Erro ao carregar hosts do cliente', 'error'); // Se tiver função showMessage
        }
    });
}

function reloadListDatabase(elemSelectId, idClient, idHost, callback = null) {
    $.ajax({
        url: '{% url "coreRelback:policyDatabasesList" %}',
        type: 'GET',
        data: { 'id_client': idClient, 'id_host': idHost },
        dataType: 'json',
        success: function(data) {
            const selectDatabases = document.getElementById(elemSelectId);
            selectDatabases.innerHTML = "";
            const optPlaceHolder = document.createElement("option");
            optPlaceHolder.text = "Choose host first";
            optPlaceHolder.value = "";
            optPlaceHolder.disabled = true;
            optPlaceHolder.selected = true;
            selectDatabases.appendChild(optPlaceHolder);
            if (data.databases) {
                const databases = JSON.parse(data.databases);
                databases.forEach(function(db) {
                    const opt = document.createElement("option");
                    opt.text = db.fields.db_name;
                    opt.value = db.pk;
                    selectDatabases.appendChild(opt);
                });
            }
            if (callback) callback();
        },
        error: function(xhr, errmsg, err) {
            console.log("Erro ao carregar lista de databases: " + xhr.responseText);
            // showMessage('Erro ao carregar databases do host', 'error');
        }
    });
}
</script>
{% endblock %}
