{% extends 'base.html' %}

{% load static %}

{% block title %} relBack - Reports{% endblock %}

{% block content %}

    <div class="left-align">
        <div class="container-fluid">
            <br>
        
            <h1>Report Backup Policy</h1>
        
            <div class="row justify-content-start mb-3">
                <div class="col">
                    <a href="{% url 'coreRelback:refreshSchedule' %}" title="Refresh" class="btn btn-floating btn-large waves-effect waves-light modal-trigger green">
                        <button type="button" class="btn btn-primary shadow">
                            <i class="bi bi-arrow-clockwise">Refresh</i>
                        </button>
                    </a>
                </div>
            </div>
        
            <div class="table-responsive">
                <!-- <table class="responsive-table centered highlight display" id="tableReport" style="width:100%"> -->
                <table class="table table-responsive table-striped table-hover shadow text-center" id="tableReport" style="width:100%">
                    <thead class="table-light text-center">
                        <tr>
                            <th scope="col">Policy</th>
                            <th scope="col">Hostname</th>
                            <th scope="col">DB_NAME</th>
                            <th scope="col">Expected Start</th>
                            <th scope="col">Start Realized</th>
                            <th scope="col">Executed Time</th>
                            <th scope="col">Status</th>
                            <th scope="col">Destination</th>	
                            <th scope="col">Backup Type</th>
                            <th scope="col">Details</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for r in report %}     
                        {% if r.STATUS == 'COMPLETED' %}
                            <tr class="table-success">
                        {% elif r.STATUS == 'SCHEDULED' %}
                            <tr class="table-info">
                        {% elif r.STATUS == 'NOT RUN' %}
                            <tr class="table-danger">
                        {% elif r.STATUS == 'NO RESYNC' %}
                            <tr class="table-warning">
                        {% elif r.STATUS == 'RUNNING' %}
                            <tr class="table-active">
                        {% elif r.STATUS == 'COMPLETED WITH WARNINGS' %}
                            <tr class="table-warning">
                        {% elif r.STATUS == 'FAILED' %}
                            <tr class="table-danger">
                        {% endif %}

                            <!-- <td> {{ r.ID_POLICY }} </td> -->
                            <td> 
                                <a href="#policyModalDetail" class="text-secondary" data-bs-toggle="modal" data-bs-target="#policyModalDetail" title="Policy Detail" onClick="policyDetail({{ r.ID_POLICY }})" >
                                    {{ r.ID_POLICY }} 
                                </a> 

                            </td>
                            <td> {{ r.HOSTNAME|lower|capfirst }} </td>
                            <td> {{ r.DB_NAME|lower|capfirst }} </td>
                            <td> {{ r.SCHEDULE_START }} </td>
                            <td> {{ r.START_R }} </td>							
                            <td> {{ r.DURATION_R }} </td>
                            <td> {{ r.STATUS|lower|capfirst }} </td>
                            <td> {{ r.DESTINATION|lower|capfirst }} </td>
                            <td> {{ r.BACKUP_TYPE|lower|capfirst }} </td>

                            <td>

                                {% if r.SESSION_KEY %}
                                    <a href="{% url 'coreRelback:reportReadLogDetail' idPolicy=r.ID_POLICY dbKey=r.DB_KEY sessionKey=r.SESSION_KEY %}">
                                        <img src="{% static 'images/icons/eye.svg' %}" width="32" height="32" title="Details">
                                    </a>
                                {% else %}
                                    <img src="{% static 'images/icons/eye-slash.svg' %}" width="32" height="32" title="Details">
                                {% endif %}									
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <!-- Modal of ReadDetail -->

                <div class="modal bd-example-modal-lg" tabindex="-1" id="policyModalDetail" role="dialog" aria-labelledby="SmallModalLabel-Details">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 id="policyDetailTitle"></h2>
                            </div>
                            <div class="modal-body">
                                <ul id="policyDetailList">
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>	

                <!-- End Modal of ReadDetail -->
                
            </div>
        
        </div>
    </div>

{% endblock %}

{% block javascript %}

<script>
    function policyDetail(id_policy, callback) {

        if (id_policy) {
            $.ajax({
                url: '{% url "coreRelback:policyDetail" %}',
                data: {
                    'id_policy': id_policy
                    // , 'csrfmiddlewaretoken': '{{csrf_token}}'
                },
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    if (data) {
                        policyDetailList(data.policy);
                    }
                },
                error : function(xhr,errmsg,err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            }); 
        }
    }

    function policyDetailList(policy) {

        $('#policyDetailTitle').text(policy.policy_name);

        $("#policyDetailList").empty();

        $("#policyDetailList").append('<li><b>Id Policy: </b>'+ policy.id_policy +'</a></li>');
        $("#policyDetailList").append('<li><b>Status: </b>'+ policy.status +'</a></li>');
        $("#policyDetailList").append('<li><b>Client: </b>' + policy.client_name +'</a></li>');
        $("#policyDetailList").append('<li><b>Hostname: </b>'+ policy.hostname +'</a></li>');
        $("#policyDetailList").append('<li><b>DbName: </b>'+ policy.db_name +'</a></li>');
        $("#policyDetailList").append('<li><b>Backup Type: </b>'+ policy.backup_type +'</a></li>');
        $("#policyDetailList").append('<li><b>Destination: </b>'+ policy.destination +'</a></li>');
        $("#policyDetailList").append('<li><b>Duration: </b>'+ policy.duration +'</a></li>');
        $("#policyDetailList").append('<li><b>Minute: </b>'+ policy.minute +'</a></li>');
        $("#policyDetailList").append('<li><b>Hour: </b>'+ policy.hour +'</a></li>');
        $("#policyDetailList").append('<li><b>Day: </b>'+ policy.day +'</a></li>');
        $("#policyDetailList").append('<li><b>Day Week: </b>'+ policy.day_week +'</a></li>');
        $("#policyDetailList").append('<li><b>Month: </b>'+ policy.month +'</a></li>');        
        $("#policyDetailList").append('<li><b>Description: </b>'+ policy.description +'</a></li>');

        }

</script>    
{% endblock javascript %}